@import 'variables';

@mixin container(){
    max-width: 1200px;
    margin: 0 auto; 
}
@mixin flex($justify: flex-start, $direction: row, $align: flex-start, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
}
